body {
    font-family:Arial, Helvetica, sans-serif ;
}

main {
    width: 1500px;
    margin: auto auto;
    border: 10px solid rgb(2, 2, 2);
    padding: 10px;
}

h1 {
    color: rgb(0, 0, 0);
    text-align: center;
    background-color: rgba(104, 146, 25, 0.486);
}

p {
    text-align: justify;
    text-indent: 50px;
    font-size: 120%;
}

ul {
    text-align: center;
    background-color:rgb(116, 218, 21);
}


h2 { 
    color: rgb(0, 0, 0);
    text-align: center;
    background-color: rgba(104, 146, 25, 0.486);
}
